body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p {
    font-family: 'Montserrat', sans-serif;
}

.sortable {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 1vh;
    margin-right: 1vh;
    background: #0080ff;
    color: #fff;
    width: 250px;
    border-radius: 4px;
    height: max-content;
    height: -moz-max-content;
}
.sortable .header {
    margin: 5px;
     padding: 5px;
}

.sortable  div, .newlistitem {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    width: 90%;
    background: #fefefe;
    color: #000;
    border-radius: 4px;
}
.newlistitem { 
    border: 1px solid #8e8e8e;
    background: #fafafa;
    color: #000;
    border-radius: 4px;
}
.newlistinput {
    margin-left: 10px;
    min-width: 230px;
    padding: 5px;
    font-size: 16px;
    height: max-content;
    width: 120px;
    border: 1px solid #8e8e8e;
    background: #fafafa;
    border-radius: 4px;
}
.sortable-placeholder {
    margin: 0;
    width: 250px;
    min-height: 25px;
    border-radius: 4px;
    border: 1px dotted black;
}

.file-upload:hover, .without-deadline:hover, .save-card-desc:hover{
    cursor: pointer;
}

.card-desc {
    margin-bottom: 15px;
}

.sortable-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
    border-radius: 4px;
}

.oversort {
    display: flex;
    flex-direction: row
}

.files{
    display: flex;
    flex-direction: row
}

.file-data{
    width: 150px;
    height: 100px;
    margin: 10px;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable{
    width: 50vw !important;
    border-radius: 10px;
    border-color: #0080ff;
}

.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle{
    background-color: #fff;
    border: none
}

.green{
    background: #54de93;
}

.red {
    background: #e8394a;
}

.documents-files{
    display: flex;
    flex-direction: column
}

.desc-area{
    display: flex;
    flex-direction: column
}

.save-card-desc, .without-deadline{
    width: 10vw;
    height: 35px;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: #0080ff;
    color: #fff;
    border-color: #0080ff;
    border-width: 1px;
    box-shadow: 0 0 0;
    border-style: solid;
}

.delete-button, .delete-doc-btn{
    width: 10vw;
    height: 35px;
    margin: 5px;
    background-color: #e8394a;
    border-style: solid;
    color: #ffffff;
    border-radius: 10px;
}

.delete-doc-btn{
    margin-top: -10px;
}

.sortable:hover{
    cursor: pointer;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Montserrat', sans-serif;
}

.card-desc-area{
    resize: none;
    border-color: #0080ff;
    border-width: 1px;
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.deadline {
    margin-bottom: 30px;
    padding: 10px 5px;
    width: max-content;
    border-radius: 10px;
    margin-left: 5px;
}

.deadline > input[type='text']{
    border-radius: 10px;
    border-style: solid;
    padding: 5px;
    border-color: #0080ff;
    border-width: 1px;
}


.card-status {
    position: absolute;
    z-index: 1000;
    transform: scale(2);
    opacity: 0;
    margin: 10px 0 0 20px;
}

.card-status:hover{
    cursor: pointer;
}

.card-status + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
    margin-right: 10px;
}
.card-status + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    transition: .2s;
}
.card-status + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
.card-status:checked + label:before {
    background: #0080ff;
}
.card-status:checked + label:after {
    left: 26px;
}

input[type="file"]{
    display: none;
}

.file-upload{
    width: 9vw;
    height: 35px;
    margin: 20px 10px;
    border-radius: 10px;
    color: #0080ff;
    background-color: #0080ff;
    color: #fff;
    border-color: #0080ff;
    border-width: 1px;
    box-shadow: 0 0 0;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

a{
    text-decoration: none;
}

.document-href{
    display: flex;
    flex-direction: row
}

.ui-widget-overlay {
    opacity: .3;
}

.card-content, .card-title{
    margin-left: 2vw;
}

.card-content {
    display: flex;
    flex-direction: column
}

.file-data:hover, .delete-doc-btn:hover, .delete-button:hover{
    cursor: pointer;
}